<!-- <app-header></app-header>
<h1>Home component</h1>

 <div class="m-4 p-3" id="gallery-div">
    <div class="row mt-4">
        <div class="col-md-4 offset-4">
            <div class="card text-center box-shadow">
                <img [class.rounded-circle]="isActive" [style.box-shadow]="boxShadowValue" [style.margin]="margin" [style.margin-top]="marginTop"  [style.height]="heightValue" [style.width]="widthValue" [src]="imgUrl" alt="">
                <div class="card-body">
                    <h1 class="card-title">Car</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, placeat.</p>
                </div>
            </div>
        </div>
    </div>
 </div> -->

 <div class="container col-md-8 offset-2 card card-body" *ngFor="let new of news"> 
    <img src="{{new.urlToImage}}" alt="">
    <h1>{{new.title}}</h1>
 </div>