/* -------Gallery part------- */

#gallery-div {
    /* border: 1px solid black; */
    margin-bottom: 100px;
    /* box-shadow:  0 5px grey; */
}
#gallery-div p{
    font-size: 22px;
}
#gallery-div img {
    width: 100%;
    /* background-size: inherit; */
}
#gallery-section-2 {
    margin-top: 70px;
}
.box-shadow {
    box-shadow: 3px 3px 10px grey;
}
