<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/ng-if">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/propety-binding">Property binding</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/event-binding">Event binding</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/two-way-binding">Two way binding</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/ng-for">ng-for</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/ng-switch">ng-switch</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/form1">Form1</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/form3">Form3</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/form2">Form2</a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/form4">Form4</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/reactive-form">Reactive form</a>
          </li> -->
          <li class="nav-item ">
            <a class="nav-link" routerLink="/parent">Parent</a> 
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/comment-details">Comment details</a> 
          </li>
      </ul>
    </form>
  </div>
</nav>