figure {
    width: 100%;
}
img {
    margin: 10px;
    border: 2px solid black;
    box-shadow:  0 0 20px black;
    padding: 10px;
    border-radius: 5px;
    width: 170px;
    height: 240px;
    transition:  all 1s;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
img:hover{
    box-shadow: 0 0 50px black;
    cursor: pointer;
    transform: scale(1.1, 1.1);
    
}