<div class="col-md-8 offset-2 mt-4 card card-body">
  <form action="" #form="ngForm" (ngSubmit)="formData(form)">
    <h1 class="text-center p-1" style="background-color: #eeee">Comment section</h1>
    <div class="form-group">
      <input type="text" name="title" id="title" class="form-control" #title="ngModel" ngModel>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="desc" id="desc" cols="30" rows="10" #desc="ngModel" ngModel placeholder="Enter Description"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-success float-right">Post Comment</button>
    </div>
  </form>
</div>